
#menu {
    background-color:#FFF;
    width: 100%;
    height:65px;
    position:relative;
}

body{
    background-color:#FFDB00;
    margin:0;
    padding:0;
}

#contenu{
    position:relative;
    background-color:#FFDB00;
    text-align:center;
    float:left;
    width: 100%;
}

#hamburger{
    align-items: flex-start;
    text-align: center;
    cursor: defaut;
    color: buttontext;
    background-color: transparent;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-color:transparent;
    margin-top:18px;
    margin-left:14px;
}

#hamburger img{
    width:26px;
    height:20px;
    background-color: transparent;
}

p {
    color: rgb(38, 38, 38);
    font-family: 'Apercu Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: auto;
    line-height: 21px;
    width: auto;
}

h1{
    font-family: sans-serif;
    color: white;
    text-align:center;
    font-size:60px;
    line-height:62px;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    width:555px;
    height:62px;
    margin-left:auto;
    margin:auto;
}

h3{
    font-family: sans-serif;color: black;
    text-align:center;
    font-size:26px;
    margin-left: 20%;
    margin-right: 20%;
    line-height:32px;
    width:555px;
    height:140px;
    margin-left:auto;
    margin-right:auto;
}

button{
    margin-left: auto;
    margin-right:auto;
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 1px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    background-color:transparent;
    border-color:transparent;
    color : white;
        height: 47px;
    padding-left: 49px;
    background-repeat: no-repeat;
    background-image: url(image/btn-404.svg);
}

}

#contenu button{
    display: block;
    margin : auto;
}

#contenu img{
    width:359.990px;
    height: auto;
    padding:30px;
}

#menu ul{
    padding:0;
    margin:O;
    list-style-type:none;
    width:500px;
    float: right;
}

li{
    margin-left:10px;
}

#menu ul li a {
    display:block;
    float:left;
    width:auto;
    height:auto;
    background-color:transparent;
    color:black;
    text-decoration:none;
    text-align:center;
    border:0px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: normal;
    color: #262626;
    padding: 6px 24px;
    margin-top: -1px;
    margin-top:7px;
}

#menu ul li a#login{
    margin-top: -1px;
    background-color: #262626;
    border-radius: 2px;
    border-color: transparent;
    border-width: 0px;
    color:white;
    margin-top: 7px;
}

/* footer */
#footer{
    background-color:#262626 ;
    height:388px;
    float:left;
    width:100%;
    position:absolute;
    bottom:0;

}
#colonne1 ul li a{
    color:white;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
#colonne2 ul li a{
    color:white;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
#colonne3 p{
    color:white;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#footer{
    background-color:#262626 ;
    height:388px;
    float:left;
    width:100%;
}

#footer ul li {
	list-style-type:none;
}

#hautfooter {
	width:100%;
	float:left;
}
#colonne1 ul li a{
    color:white;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#colonne2 ul li a{

    color:#b2b2b2;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#colonne3 p{
    color:white;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#logofooter{
    width:262.5;
    height:60px;
    padding-right: 15px;
    padding-left: 15px
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px ;
    float: left;
}

#logofooter img{
    
    float: left;
    position: relative;
    min-height: 1px;
    padding:15px;
}

#colonne1{
    width:25%;
    float:left;
    width:262.5px;
    height:73px;
    padding:15px;
}

#colonne2{
    width:25%;
    float:left;
    width:262.5px;
    height:115px;
    padding:15px;
}

#colonne3{
    color: white;
    width:25%;
    float:left;
    height:25px;
    padding-top:15px;
}

#colonne3 ul {
    padding-left: 0;
}

#colonne3 ul li {
    display: inline-block;
}

#colonne3 img {
	 max-width: 40px;
    min-width: 40px;
}

#bas footer ul li {
     text-decoration: none;
     }

#basfooter{
    float:left;
    box-sizing: border-box
    background-color: #262626;
    color: #FFF;
    font-family:"Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;;
   
    list-style-type: none
    font-size:10px;
    width:1170px;
    height:52px;
}


#basfooter div p{
 
    font-size:12px;
    line-height: 1.4em;
    color:grey;
    width:847.500px;
    height:28px;
    margin-left:;
}

.centered-footer{
    margin:0 auto;
    width:1200px;
    margin-top:80px;
}
