body{
    margin:0;
    padding:0;
}

#menu {
    height:75px;
}

#contenu{
    background-color:#FFDB00;
}

button #hamburger{
    align-items: flex-start;
    text-align: center;
    cursor: defaut;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
}

#hamburger img{
 width:26px;
 height:26px;
}